Question 1A: Perform the following tasks with pandas Series:
a. Create a Series from the list [7, 11, 13, 17].
b. Create a Series with five elements that are all 100.0.
c. Create a Series with 20 elements that are all random numbers in the
range 0 to 100. Use method describe to produce the Series’ basic descriptive
statistics.
d. Create a Series called temperatures of the floating-point
values 98.6, 98.9, 100.2 and 97.9. Using the index keyword argument, specify
the custom indices 'Julie', 'Charlie', 'Sam' and 'Andrea'.
e. Form a dictionary from the names and values in Part (d), then use it to initialize
a Series.

Name: Madhu

In [4]:
# a. Create a Series from the list [7, 11, 13, 17].

import pandas as pd
DataSeries = pd.Series([7,11,13,17])
print(DataSeries)

0     7
1    11
2    13
3    17
dtype: int64

In [5]:
# b. Create a Series with five elements that are all 100.0.

DS = pd.Series(100.0)
DS = DS.repeat(5)
print(DS)

0    100.0
0    100.0
0    100.0
0    100.0
0    100.0
dtype: float64

In [10]:
# c. Create a Series with 20 elements that are all random numbers in the # range 0 to 100. Use method describe to produce 
# the Series’ basic descriptive statistics.

import numpy as np
from random import random

RN = pd.Series(np.random.randint(0,100,20))
print(RN)
RN.describe()

0      1
1     64
2     18
3     37
4     67
5     65
6     18
7      0
8     32
9     63
10    31
11    82
12    43
13    80
14    20
15    42
16    95
17    11
18    52
19    95
dtype: int32

count    20.000000
mean     45.800000
std      29.772117
min       0.000000
25%      19.500000
50%      42.500000
75%      65.500000
max      95.000000
dtype: float64

In [11]:
# d. Create a Series called temperatures of the floating-point values 98.6, 98.9, 100.2 and 97.9. Using the index keyword 
# argument, specify the custom indices 'Julie', 'Charlie', 'Sam' and 'Andrea'.

FloatSeries = pd.Series([98.6,98.9,100.2,97.9],index = ['Julie','Charlie','Sam','Andrea'])
print(FloatSeries)

Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64

In [132]:
# e. Form a dictionary from the names and values in Part (d), then use it to initialize a Series.

dictionary = {'Julie':98.6,'Charlie':98.9,'Sam':100.2,'Andrea':97.9}
IS = pd.Series(dictionary)
IS

Julie       98.6
Charlie     98.9
Sam        100.2
Andrea      97.9
dtype: float64

Question 1B: Perform the following tasks with pandas DataFrames:
f. Create a DataFrame named temperatures from a dictionary of three temperature
readings each for 'Maxine', 'James' and 'Amanda'.
g. Recreate the DataFrame temperatures in Part (a) with custom indices using
the index keyword argument and a list
containing 'Morning', 'Afternoon' and 'Evening'.
h. Select from temperatures the column of temperature readings for 'Maxine'.
i. Select from temperatures the row of 'Morning' temperature readings.
j. Select from temperatures the rows for 'Morning' and 'Evening' temperature
readings.
k. Select from temperatures the columns of temperature readings
for 'Amanda' and 'Maxine'.
l. Select from temperatures the elements for 'Amanda' and 'Maxine' in
the 'Morning' and 'Afternoon'.
m. Use the describe method to produce temperatures’ descriptive statistics.
n. Transpose temperatures.
o. Sort temperatures so that its column names are in alphabetical order.

Name: Madhu

In [21]:
# f. Create a DataFrame named temperatures from a dictionary of three temperature readings each for 'Maxine', 'James' 
# and 'Amanda'.

DF={
   'Maxine':[38,53,76],
   'James':[12,34,80],
   'Amanda':[58,33,64]
   }
#Creating dataFrame
temparatures=pd.DataFrame(DF)
print("Dataframe with tempratures : \n ", temparatures)

Dataframe with tempratures :
     Maxine  James  Amanda
0      38     12      58
1      53     34      33
2      76     80      64

In [22]:
# g. Recreate the DataFrame temperatures in Part (a) with custom indices using the index keyword argument and a list
# containing 'Morning', 'Afternoon' and 'Evening'.

temparatures=pd.DataFrame(DF,index=["Morning","Afternoon","Evening"])
print("Dataframe with custom indices: \n" , temparatures)

Dataframe with custom indices:
            Maxine  James  Amanda
Morning        38     12      58
Afternoon      53     34      33
Evening        76     80      64

In [24]:
# h. Select from temperatures the column of temperature readings for 'Maxine'.

MaxineT = temparatures[['Maxine']]
print("temperature readings for Maxine is : \n", MaxineT)

temperature readings for Maxine is :
            Maxine
Morning        38
Afternoon      53
Evening        76

In [27]:
# i. Select from temperatures the row of 'Morning' temperature readings.

MorningT = temparatures.loc[["Morning"],:]
print("temperatures the row of Morning : \n", MorningT)

temperatures the row of Morning :
          Maxine  James  Amanda
Morning      38     12      58

In [28]:
# j. Select from temperatures the rows for 'Morning' and 'Evening' temperature readings.

MET =temparatures.loc[["Morning","Evening"],:]
print("Morning and Evening temperature readings: \n", MET)

Morning and Evening temperature readings:
          Maxine  James  Amanda
Morning      38     12      58
Evening      76     80      64

In [31]:
# k. Select from temperatures the columns of temperature readings for 'Amanda' and 'Maxine'.

MET1 =temparatures.loc[:, ["Amanda","Maxine"]]
print("Amanda and Maxine temperature readings: \n", MET1)

Amanda and Maxine temperature readings:
            Amanda  Maxine
Morning        58      38
Afternoon      33      53
Evening        64      76

In [32]:
# l. Select from temperatures the elements for 'Amanda' and 'Maxine' in the 'Morning' and 'Afternoon'.

MET2 = temparatures[["Amanda","Maxine"]].loc[["Morning","Afternoon"]]
print("the elements for Amanda and Maxine in the Morning and Afternoon: \n", MET2)

the elements for Amanda and Maxine in the Morning and Afternoon:
            Amanda  Maxine
Morning        58      38
Afternoon      33      53

In [34]:
# m. Use the describe method to produce temperatures’ descriptive statistics.

temparatures.describe()

          Maxine      James     Amanda
count   3.000000   3.000000   3.000000
mean   55.666667  42.000000  51.666667
std    19.139836  34.698703  16.441817
min    38.000000  12.000000  33.000000
25%    45.500000  23.000000  45.500000
50%    53.000000  34.000000  58.000000
75%    64.500000  57.000000  61.000000
max    76.000000  80.000000  64.000000

In [35]:
# n. Transpose temperatures.

TranTemp = temparatures.transpose()
print("Transposed temperature: \n", TranTe mp)

Transposed temperature:
         Morning  Afternoon  Evening
Maxine       38         53       76
James        12         34       80
Amanda       58         33       64

In [36]:
# o. Sort temperatures so that its column names are in alphabetical order.

SortedTemp =temparatures.reindex(sorted(temparatures.columns),axis=1)
print("Sorted tempratures: \n ", SortedTemp)

Sorted tempratures:
             Amanda  James  Maxine
Morning        58     12      38
Afternoon      33     34      53
Evening        64     80      76

Question 2: Using the titanic.csv dataset, write a program to explore and mine the following information:
a) How many passengers were on the titanic?
b) How many male and female passengers were in the titanic?
c) What was the average age of all passengers?
d) How many passengers were under 21 years of age?
e) How many survived and how many did not? How many males and how many females?
f) What was the youngest age that survived, and the oldest age? What were their names?
g) Display the name of all passengers that survived.

Name: Madhu

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display, HTML


#a) Display all data on screen.

TitanicData = pd.read_csv('titanic.csv')
cols=TitanicData.columns
# print out and display dataframe as tables in HTML
display(HTML(TitanicData.head(10).to_html()))

In [48]:
# a) How many passengers were on the titanic?

TPass = TitanicData.index
Total_passengers = len(TPass)
print("Total number of passengers are :", Total_passengers)

Total number of passengers are : 1309

In [122]:
# b) How many male and female passengers were in the titanic?

Female = TitanicData['sex'][TitanicData['sex']=='female']
Male = TitanicData['sex'][TitanicData['sex']=='male']

print("Number of Female Passengers: \n" , Female.count())
print("Number of Male Passengers: \n", Male.count())

Number of Female Passengers:
 466
Number of Male Passengers:
 843

In [116]:
# c) What was the average age of all passengers?

average_ages = print("Average age of all passengers is:", TitanicData['age'].mean())

Average age of all passengers is: 29.881134512434034

In [119]:
# d) How many passengers were under 21 years of age?


p = TitanicData['age'][TitanicData['age'] < 21]
print("Number of passengers were under 21 years of age are:", p.count())

Number of passengers were under 21 years of age are: 249

In [7]:
# e) How many survived and how many did not? How many males and how many females?

count = pd.crosstab(TitanicData['survived'],TitanicData['sex'],margins=True)
print("Table for survived count: \n", count)

print("\nAs per the above table: \nTotal Paassengers Survived: 500, Male: 161, Female: 339")
print("Total Paassengers Deceased: 809, Male: 682, Female: 127")

Table for survived count:
 sex       female  male   All
survived
no           127   682   809
yes          339   161   500
All          466   843  1309

As per the above table:
Total Paassengers Survived: 500, Male: 161, Female: 339
Total Paassengers Deceased: 809, Male: 682, Female: 127

In [104]:
# f) What was the youngest age that survived, and the oldest age? What were their names?


print("Yongest person that survived: \n", TitanicData.loc[TitanicData['age'] == TitanicData['age'].min()])

print(" \n\n Oldest person that survived: \n", TitanicData.loc[TitanicData['age'] == TitanicData['age'].max()])

Yongest person that survived:
                                Name survived     sex     age passengerClass
763  Dean, Miss. Elizabeth Gladys M      yes  female  0.1667            3rd


 Oldest person that survived:
                                Name survived   sex   age passengerClass
14  Barkworth, Mr. Algernon Henry W      yes  male  80.0            1st

In [60]:
# g) Display the name of all passengers that survived.


passengers = print("The name of all passengers that survived: \n", TitanicData.loc[TitanicData['survived'] == 'yes'])

The name of all passengers that survived:
                                  Name survived     sex      age passengerClass
0       Allen, Miss. Elisabeth Walton      yes  female  29.0000            1st
1      Allison, Master. Hudson Trevor      yes    male   0.9167            1st
5                 Anderson, Mr. Harry      yes    male  48.0000            1st
6     Andrews, Miss. Kornelia Theodos      yes  female  63.0000            1st
8     Appleton, Mrs. Edward Dale (Cha      yes  female  53.0000            1st
...                               ...      ...     ...      ...            ...
1261           Turkula, Mrs. (Hedwig)      yes  female  63.0000            3rd
1277             Vartanian, Mr. David      yes    male  22.0000            3rd
1286  Whabee, Mrs. George Joseph (Sha      yes  female  38.0000            3rd
1290  Wilkes, Mrs. James (Ellen Needs      yes  female  47.0000            3rd
1300  Yasbeck, Mrs. Antoni (Selini Al      yes  female  15.0000            3rd

[500 rows x 5 columns]